html, body {
  height: 100%
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
}

button {
  width: 100%
}

.cdk-keyboard-focused *:focus {
  outline: transparent 2px solid;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #007eff;
}

.cdk-mouse-focused *:focus {
  outline: transparent 2px solid;
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(9, 146, 37);
}

.cdk-program-focused *:focus {
  outline: transparent 2px solid;
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(173, 72, 59);
}

.cdk-touch-focused *:focus {
  outline: transparent 2px solid;
  box-shadow: 0 0 0 2px white, 0 0 0 4px rgb(176, 97, 241);
}